.container-fluid{
  display: flex;
  flex-direction: row;
  padding-right: 0px !important;
}

#navbar-wrapper{
  position: relative;
}

#main{
  position: relative;
  width: 100%;
  background: #ecf0f1;
}

#navbar{
  position: relative;
}

.navbar-brand{
  color: black !important;
  font-weight: lighter;
}

#dashboard-content{
  padding: 20px;
}

.wrapper{
  align-items: stretch;
}

#sidebar{
  position: relative;
  top: 0;
  min-height: 100vh;
  color: white;
}

.row{
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-right: 0px !important;
  height: 100%;
}

nav{
  width: 100%;
}

.fa{
  color: white;
}

.fa-common{
  margin-right: 15px;
}

.fa-arrow-left{
  float: right;
  font-size: 1.2em;
}

.dismiss{
  padding: 10px 10px;
  margin-bottom: 15px;
}

.sidebar .logo {
  padding: 0px 0px;
  margin: 0;
  margin-bottom: 35px;
  display: block;
  position: relative;
  z-index: 4;
  text-align: center;
}

.profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar .nav {
  display: block;
}

.sidebar .nav li{
  background-color: black;
  border-bottom: 1px solid white;
}

.selected{
  margin-left: 20px;
}

.sidebar .nav li a{
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 25px;
}

.sidebar .nav li .fa-arrow-down{
   float: right;
   font-size: 1.1em;
   margin-top: 3px;
}

div[id*='#submenu']{
  transition: opacity 0.5s ease-in-out;
}

div[id*='#submenu'] ul{
  padding-left: 0px !important;;
}

.sidebar .nav ul a{
  border-left: 15px solid #343a40;
  padding: 15px 50px;
}